.header {
    color: white;
    background-color: #202020;
}

.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 160px;
    justify-content: space-between;
}

.navBarAndSearchWrapper {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
}

.logoLink {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #5458F7;
    text-shadow: 0 4px 10px rgba(84, 88, 247, 0.25);
}

.navBar {
    display: flex;
    align-items: center;
}

.navBarLink {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #5458F7;
    text-shadow: 0 4px 10px rgba(84, 88, 247, 0.25);
    text-decoration: none;
    margin: 20px;
}

.searchInput {
    width: 204px;
    height: 23px;
    left: 1173px;
    top: 67px;
    border-radius: 15px;
    border-color: transparent;
    background: url("../../assets/img/search.svg") no-repeat center right;
    background-color: rgba(84, 88, 247, 0.4);
    color: #ffffff;
}