.wrapper {
    width: 90%;
    margin: auto;
}

.mainSection {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

.mainSection .wrapper {
    display: grid;
}

.blocksWrapper {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 45px;
}

.gamesWrapper {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-row-gap: 50px;
}

.gameWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sidebarWrapper {
    display: grid;
    grid-template-rows: 220px 320px 300px ;
    grid-row-gap: 50px;
}

